<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>contact</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="../static/style.css">
    <script src="index.js"></script>

</head>
<body>

    <div>
        <nav class="navbar">
            <div class="bar" href="javascript:void(0);" onclick="myfunction(this)">
                <div class="bar1"></div>
                <div class="bar2"></div>
                <div class="bar3"></div>

            </div>
            <div id="myLinks">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/">About</a></li>
                    <li><a href="/">Services</a></li>
                    <li><a href="/">Class Info</a></li>
                    <li><a href="/contact.html">Contact us</a></li>

                    <div class="search">
                        <input type="text" name="search" id="search" placeholder="Search  ">
                        <button type="submit" class="fa fa-search submit"></button>

                    </div>


                </ul>
            </div>
        </nav>
        <div>
            Contact Us
        </div>
    </div>
    <form action="/contact" , method="post" , class="myForm">
        <div class="design">Fill the details so that we can contact you </div>
        <div class="subbtn">
            <input type="name" id=“myinput” name="name" placeholder="Enter your name..">
        </div>
        <div class="subbtn">
            <input type="phone" class=“myInput1” name="phone" placeholder="Enter your phone no ">
        </div>
        <div class="subbtn">
            <input type="email" class=“myInput” name="email" placeholder="Enter your email..">
        </div>
        <div class="subbtn1">
            <input class="button" type="submit" name="submit now"><br>
      
        </div>
    </form>

    <footer class="footer1">
        <!-- Copyright -->
        <div class="text">
          © 2020 Copyright:
          <a href="https://stylodanceacademy.com/">stylodanceacademy.com</a>
        </div>
        <div>
            For any other contact us on this <a href="stylodanceacademy@gmail.com">stylodanceacademy@gmail.com</a> 
        </div>
        <!-- Copyright -->
      </footer>
</body>

</body>