<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="index.js"></script>
    <link rel="stylesheet" type="text/css" href="../static/style.css">
 

</head>

<body>
    <div>
        <nav class="navbar">
            <div class="bar" href="javascript:void(0);" onclick="myfunction(this)">
                <div class="bar1"></div>
                <div class="bar2"></div>
                <div class="bar3"></div>

            </div>
            <div id="myLinks">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/">About</a></li>
                    <li><a href="/">Services</a></li>
                    <li><a href="/">Class Info</a></li>
                    <li><a href="/contact">Contact us</a></li>

                    <div class="search">
                        <input type="text" name="search" id="search" placeholder="search this website ">
                        <button type="submit" class="fa fa-search submit"></button>

                    </div>


                </ul>
            </div>
        </nav>
    </div>

    <div id="introsection">
        <div id="heading"> WELCOME TO STYLO DANCE ACADEMY</div>
        <div id="heading2">Dance is the Hidden Language of Soul</div>
        <section id="middlesection">
            <div class="box" id="box1">
                Every day brings a chance for you to draw in a breath, kick off your shoes, and dance.
            </div>
            <div class="box" id="box2">
                Dancing faces you towards Heaven, whichever direction you turn.</div>
            <div class="box" id="box3">
                Dancing is wonderful training for girls, it's the first way you learn to guess what a man is going to do
                before he does it.
            </div>
        </section>
    </div>
    <footer class="footer">
        <!-- Copyright -->
        <div class="text">
            © 2020 Copyright:
            <a href="https://stylodanceacademy.com/">stylodanceacademy.com</a>
        </div>
        <div>
            For any other contact us on this <a href="stylodanceacademy@gmail.com">stylodanceacademy@gmail.com</a>
        </div>
        <!-- Copyright -->
    </footer>
</body>

</html>